CSharp/PatternsInAction/Patterns In Action/ASPNETWebApplication/Service References/ImageServiceReference/ImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ImageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:4817/ImageService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4817/ImageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4817/ImageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4817/ImageService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageService_GetCustomerImageLarge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerImageLarge" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetCustomerImageLarge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerImageLargeResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetCustomerImageSmall_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerImageSmall" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetCustomerImageSmall_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerImageSmallResponse" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetProductImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductImage" />
  </wsdl:message>
  <wsdl:message name="IImageService_GetProductImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageService">
    <wsdl:operation name="GetCustomerImageLarge">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/GetCustomerImageLarge" message="tns:IImageService_GetCustomerImageLarge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/GetCustomerImageLargeResponse" message="tns:IImageService_GetCustomerImageLarge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerImageSmall">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/GetCustomerImageSmall" message="tns:IImageService_GetCustomerImageSmall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/GetCustomerImageSmallResponse" message="tns:IImageService_GetCustomerImageSmall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageService/GetProductImage" message="tns:IImageService_GetProductImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageService/GetProductImageResponse" message="tns:IImageService_GetProductImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebEndpoint" type="tns:IImageService">
    <wsdl:operation name="GetCustomerImageLarge">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerImageSmall">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetProductImage">
      <wsdl:input />
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="WebEndpoint" binding="tns:WebEndpoint" />
    <wsdl:port name="MetadataExchangeHttpBinding_IImageService" binding="i0:MetadataExchangeHttpBinding_IImageService">
      <soap12:address location="http://localhost:4817/ImageService.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:4817/ImageService.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>