CSharp/HeadFirstPatterns/DoFactory.HeadFirst/DoFactory.HeadFirst.Proxy.GumballState.Client/Service References/GumballProxy/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.mycompany.com/headfirst/2008/07" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.mycompany.com/headfirst/2008/07" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mycompany.com/headfirst/2008/07/Imports">
      <xsd:import schemaLocation="http://localhost:1449/Service.svc?xsd=xsd0" namespace="http://www.mycompany.com/headfirst/2008/07" />
      <xsd:import schemaLocation="http://localhost:1449/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GumballMachine_StartWithQuarters_InputMessage">
    <wsdl:part name="parameters" element="tns:StartWithQuarters" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_StartWithQuarters_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartWithQuartersResponse" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_InsertQuarter_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertQuarter" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_InsertQuarter_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertQuarterResponse" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_TurnCrank_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnCrank" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_TurnCrank_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnCrankResponse" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_EjectQuarter_InputMessage">
    <wsdl:part name="parameters" element="tns:EjectQuarter" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_EjectQuarter_OutputMessage">
    <wsdl:part name="parameters" element="tns:EjectQuarterResponse" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_GetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GumballMachine_GetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="GumballMachine">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartWithQuarters">
      <wsdl:input wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/StartWithQuarters" message="tns:GumballMachine_StartWithQuarters_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/StartWithQuartersResponse" message="tns:GumballMachine_StartWithQuarters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="InsertQuarter">
      <wsdl:input wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/InsertQuarter" message="tns:GumballMachine_InsertQuarter_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/InsertQuarterResponse" message="tns:GumballMachine_InsertQuarter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TurnCrank">
      <wsdl:input wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/TurnCrank" message="tns:GumballMachine_TurnCrank_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/TurnCrankResponse" message="tns:GumballMachine_TurnCrank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EjectQuarter">
      <wsdl:input wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/EjectQuarter" message="tns:GumballMachine_EjectQuarter_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/EjectQuarterResponse" message="tns:GumballMachine_EjectQuarter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetReport">
      <wsdl:input wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/GetReport" message="tns:GumballMachine_GetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mycompany.com/headfirst/2008/07/GumballMachine/GetReportResponse" message="tns:GumballMachine_GetReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>